<!--wrapper start-->
<div class="wrapper">

 <app-header></app-header>

  <main class="main-content">

    <router-outlet></router-outlet>


    <!--== Start Blog Area Wrapper ==-->
    <section class="blog-area blog-home-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h3 class="title">Recent News Articles</h3>
              <div class="desc">
                <p>Many desktop publishing packages and web page editors</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center post-home-style row-gutter-40">
          <div class="col-md-6 col-lg-4" data-aos="fade-right">
            <!--== Start Blog Post Item ==-->
                        <div class="post-item">
                          <div class="thumb">
                            <a href="blog-details.html"><img src="assets/img/blog/1.webp" alt="Image" width="370" height="270"></a>
                          </div>
                          <div class="content">
                            <div class="author">By <a href="blog.html">Walter Houston</a></div>
                            <h4 class="title"><a href="blog-details.html">It long established fact that reader will distracted the readable.</a></h4>
                            <div class="meta">
                              <span class="post-date">03 April, 2022</span>
                              <span class="dots"></span>
                              <span class="post-time">10 min read</span>
                            </div>
                          </div>
                        </div>
            <!--== End Blog Post Item ==-->
          </div>
          <div class="col-md-6 col-lg-4" data-aos="fade-left">
            <!--== Start Blog Post Item ==-->
                        <div class="post-item">
                          <div class="thumb mb--0">
                            <a href="blog-details.html"><img src="assets/img/blog/h1.webp" alt="Image" width="370" height="440"></a>
                          </div>
                        </div>
            <!--== End Blog Post Item ==-->
          </div>
          <div class="col-lg-4" data-aos="fade-left">
            <div class="post-home-list-style">
              <!--== Start Blog Post Item ==-->
                            <div class="post-item">
                              <div class="content">
                                <div class="author">By <a href="blog.html">Walter Houston</a></div>
                                <h4 class="title"><a href="blog-details.html">Established fact and readeren will distracted the readable content.</a></h4>
                                <div class="meta">
                                  <span class="post-date">03 April, 2022</span>
                                  <span class="dots"></span>
                                  <span class="post-time">10 min read</span>
                                </div>
                              </div>
                            </div>
              <!--== End Blog Post Item ==-->

              <!--== Start Blog Post Item ==-->
              <div class="post-item">
                <div class="content">
                  <div class="author">By <a href="blog.html">Walter Houston</a></div>
                  <h4 class="title"><a href="blog-details.html">With WooLentor's drag-and drop interface for creating...</a></h4>
                  <div class="meta">
                    <span class="post-date">03 April, 2022</span>
                    <span class="dots"></span>
                    <span class="post-time">10 min read</span>
                  </div>
                </div>
              </div>
              <!--== End Blog Post Item ==-->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Blog Area Wrapper ==-->
  </main>

<app-footer></app-footer>

</div>
